@using Models
@model RandomNumberViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-8" >
    <form method="get" >
      <div class="card shadow" style="padding:10px;margin:20px;">  
          <button type="submit"  class="btn btn-warning btn-block" style="width:16rem;margin-left:auto; margin-right:auto;" asp-controller="Home" formmethod="post" asp-action="AddGenerateNumbers">Сгенерировать последовательность чисел</button>
    </div>
    </form>


</div>